image:
  pullPolicy: Never

caBundle: >
  {{ exec "./utils/get_ca_bundle.sh" (list) | indent 2 }}

allowedRegistries:
 - "docker-registry.tools.wmflabs.org"
 - "harbor.toolsbeta.wmflabs.org"

buildID: >
  {{ exec "./utils/get_build_id.sh" (list "dev") | indent 2 }}
